<div id="products-page" style="display: none">
    <div class="products_page">


        <div id="product-modal" class="modal">
            <div class="product_info">

                <span class="close">close</span>
                <div class="img">
                    <img id="img" src="">
                </div>

                <div id="show_product_info" class="info_block">
                    <div class="name">
                        <h3 id="product_name"></h3><br>
                    </div>
                    <div id="rating_text" class="info">
                    </div>
                    <div class="info">
                        <h4 class="font_size_info">Product style: <span id="product_style" class="colored-info"></span></h4>
                    </div>
                    <div class="info">
                        <h4 class="font_size_info">Product color: <span id="product_color" class="colored-info"></span></h4>
                    </div>
                    <div class="info">
                        <h4 class="font_size_info">Product material: <span id="material" class="colored-info"></span></h4>
                        <br>
                    </div>
                    <div class="info">
                        <h4 class="font_size_info">Product info: <span id="info" class="colored-info"></span></h4>
                        <br>
                    </div>
                    <div id="prices" class="prices">


                    </div>

                    <div id="sizes" class="info">

                    </div>

                    <div id="buttons" >

                    </div>

                    <br>

                </div>
            </div>
        </div>

        <div>
            <h3 id="page-title"></h3>
        </div>

        <div id="filter-div">

            <div class="filter-selects" id="filter-style-div">
                Select style: <select name="select_style" id="select_filter_style">
            </select>
            </div>
            <div class="filter-selects">
                Select color: <select name="select_color" id="select_filter_color">
            </select>
            </div>
            <div class="filter-selects">
                Select material: <select name="select_material" id="select_filter_material">
            </select>
            </div>
        </div>


        <div id="visualisation" class="show_products">


        </div>

    </div>

    <div id="page-links" class="page-links">

    </div>

</div>
