<section class="centered-section min-height-600">
    <div class="centered-section">
        <button class="inline_block" onclick="showEditProfileSection(true , false); " >General info</button>
        <button class="inline_block" onclick="showEditProfileSection(false , true)">Security</button>
    </div>

    <div id="sections" style="visibility: hidden; display: none">
        <div class="form" id="edit-info-div" onload="alert('hey');loadSessionUserDataInEditForm();">

            <label for="edit-info-form">General info</label>
            <form method="post" id="edit-info-form" onsubmit="return validateEditInfoFormOnSubmit(this); saveInfoChanges(); return false;">

                <input type="text" id="edit-form-f-name" name="first_name" placeholder="First name" required> <br>

                <input type="text" id="edit-form-l-name" name="last_name" placeholder="Last name" required> <br>

                <input type="email" id="edit-form-email" name="email" placeholder="Email" required> <br>

                <p class="message">
                    Gender: <select id="edit-form-gender"  name="gender" required>

                    <option value="M">Male</option>

                    <option value="F">Female</option>

                </select> </p> <br>

                <input type="submit" name="edit_info_button" value="Save changes">
            </form>

        </div>

        <div class="form" id="edit-security-div" >
            <label for="edit-security-form">Security</label>

            <form method="post" id="edit-security-form" onsubmit="return validateSecurityFormOnSubmit(this);">

                <input type="password" id="edit-security-form-old" name="old_password" placeholder="Old password" required> <br>

                <input type="password" id="edit-security-form-new" name="new_password" placeholder="New password" required> <br>

                <input type="password" id="edit-security-form-repeat" name="repeat_new_password" placeholder="Repeat new password" required> <br>

                <input type="submit" name="edit_button" value="Save changes">

            </form>
        </div>
    </div>
</section>



