<section class="min-height-600">
    <h3>Favorites</h3>

    <div id="display-favorite-items"> </div>

    <div id="clear-favorites-button-wrapper">    <h6 id="clear-favorites-button-heading"> </h6>
    <button id="clear-favorites-button"> Clear favorites </button>
    </div>


</section>

<script>
    loadFavorites();

    // ===============================================================================================================

    function loadFavorites() {
        var wrapper = document.getElementById("display-favorite-items");

        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=favorites&action=getFavorites");
        request.onreadystatechange = function (ev) {
            if(this.readyState == 4){
                if(this.status == 200){
                   var favorites = JSON.parse(this.responseText);

                   var clearFavoritesButton = document.getElementById("clear-favorites-button");
                   if (favorites.length == 0){
                       document.getElementById('clear-favorites-button-heading').innerHTML = 'Nothing in here';
                       clearFavoritesButton.style.visibility = 'hidden';
                   }else{
                       document.getElementById('clear-favorites-button-heading').innerHTML = '';
                       clearFavoritesButton.style.visibility = 'visible';
                   }

                   var favoritesTable = document.createElement('table');
                    favoritesTable.style = 'width : 100%';

                   for (var i = 0; i < favorites.length ; i++){
                       var item = favorites[i];

                       var itemRow = favoritesTable.insertRow(this.i);

                       var productPictureCell = itemRow.insertCell(0);
                       var productPicture = document.createElement('img');
                       productPicture.src = item.product_image_url;

                       var pictureBox = document.createElement('div');
                       pictureBox.style.width = '7em';
                       pictureBox.style.height = '7em';

                       productPicture.style.height = '7em';
                       productPicture.style.width = 'auto';

                       pictureBox.appendChild(productPicture.valueOf());
                       productPictureCell.appendChild(pictureBox);



                       var productNameCell = itemRow.insertCell(1);
                       productNameCell.innerHTML = item.product_name;

                       if (item.promo_percentage.valueOf() > 0){
                         var productPriceCell = itemRow.insertCell(2);
                         var salePrice = item.price_on_promotion;
                            productPriceCell.innerHTML = salePrice;
                     }else{
                           var productPriceCell = itemRow.insertCell(2);
                           productPriceCell.innerHTML = item.price;

                      }


                       var categoryCell = itemRow.insertCell(3);
                       categoryCell.id = 'favorites-table-item-category-'+item.category_id;
                       categoryCell.innerHTML =item.category;


                       var productMaterialCell = itemRow.insertCell(4);
                       productMaterialCell.id = 'favorites-table-item-material-'+item.material_id;
                       productMaterialCell.innerHTML = item.material;

                       var productColorCell = itemRow.insertCell(5);
                       productColorCell.id = 'favorites-table-item-color-'+item.color_id;
                       productMaterialCell.innerHTML = item.color;

                       var sizeSelectCell = itemRow.insertCell(6);
                       var sizeSelect = document.createElement('select');
                       var available_sizes = item.sizes;

                       for (var j = 0 ; j < available_sizes.length ; j++){
                           sizeSelect.options[sizeSelect.options.length] = new Option(available_sizes[j], available_sizes[j]);
                       }
                       sizeSelect.id = 'favorites-pick-size-for-product' + item.product_id;
                       sizeSelectCell.appendChild(sizeSelect);


                       var addToCartButtonCell = itemRow.insertCell(7);
                       var addToCartButton = document.createElement("button");
                       addToCartButton.innerHTML = 'Add to cart';
                       addToCartButton.id = 'add-to-cart-from-favs-button';
                       addToCartButton.setAttribute('onclick' , 'addToCart('+ item.product_id.toString() + ')');
                       addToCartButtonCell.value = (addToCartButton.valueOf().innerHTML);
                       addToCartButtonCell.appendChild(addToCartButton);

                       var removeFromFavoritesButtonCell = itemRow.insertCell(8);
                       var removeFromFavoritesButton = document.createElement("button");
                       removeFromFavoritesButton.innerHTML = 'Remove from favorites';
                       removeFromFavoritesButton.setAttribute('onclick' , 'removeItemFromFavorites('+ item.product_id.toString() + ')');
                       removeFromFavoritesButton.id = 'remove-from-favs-button';
                       removeFromFavoritesButtonCell.value = (removeFromFavoritesButton.valueOf().innerHTML);
                       removeFromFavoritesButtonCell.appendChild(removeFromFavoritesButton);



                   }
                   wrapper.appendChild(favoritesTable);
                }
            }
        };
        request.send();

    }

    // ===============================================================================================================

    var clearFavoritesButton = document.getElementById("clear-favorites-button");
    clearFavoritesButton.onclick = function () {
        alert('clearing...');
        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=favorites&action=deleteFavorites");
        request.onreadystatechange = function (ev) {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    alert(this.responseText);
                    document.getElementById('display-favorite-items').innerHTML = '';
                    document.getElementById('clear-favorites-button-wrapper').innerHTML = '';
                }
            }

        };
        request.send();
    }

    function removeItemFromFavorites(id){
        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=favorites&action=removeFromFavorites&id=" + id );
        request.onreadystatechange = function (ev) {
            if(this.readyState == 4){
                if(this.status == 200){
                    console.log(this.responseText);
                    alert(this.responseText);
                    document.getElementById('display-favorite-items').innerHTML = '';
                    loadFavorites();
                }
            }
        };
        request.send();
    }



</script>