<header>
       <span class="clear center" id="logo">  <a href="index.php?page=main"> PANTOFKA </a> </span>
</header>

<nav class="clear center bottom-30" id="navigation-products">

    <button onclick="sayHello('men')">Men</button>


    <!--<a href="index.php?target=category&action=show&subcategory=men">MEN</a>-->

    <!--<a href="index.php?target=category&action=show&subcategory=women">WOMEN</a>-->

    <!--<a href="index.php?target=category&action=show&subcategory=boys">BOYS</a>-->

    <!--<a href="index.php?target=category&action=show&subcategory=girls">GIRLS</a>-->

    <!--<a  href="index.php?target=category&action=show&subcategory=new">NEW PRODUCTS</a>-->

    <!--<a  href="index.php?target=category&action=show&subcategory=sale">PRODUCTS ON SALE</a>-->

</nav>
<script>

</script>
