<header>
       <span class="clear center" id="logo">  <a href="index.php?page=main"> PANTOFKA </a> </span>
</header>

<nav class="clear center bottom-30" id="navigation-products">


    <a href="index.php?page=show_products">Show ALL</a>

    <a href="index.php?page=men">MEN</a>

    <a href="index.php?page=women">WOMEN</a>

    <a href="index.php?page=boys">BOYS</a>

    <a href="index.php?page=girls">GIRLS</a>

    <a  href="index.php?page=new">NEW PRODUCTS</a>

    <a  href="index.php?target=page=sale">PRODUCTS ON SALE</a>

</nav>
<script>

</script>
