<header>
       <span class="clear center" id="logo"> <a> PANTOFKA </a>  </span>
</header>

<nav class="clear center bottom-30" id="navigation-products">

    <span id="product-nav-buttons">
        <button id='men-nav-button' class="nav-button" onclick="show('men')"> MEN </button>
        <button id='women-nav-button' class="nav-button" onclick="show('women')"> WOMEN </button>
        <button id='girls-nav-button' class="nav-button" onclick="show('girls')"> GIRLS </button>
        <button id='boys-nav-button' class="nav-button" onclick="show('boys')"> BOYS </button>
        <button id='new-nav-button' class="nav-button" onclick="show('new')"> NEW </button>
        <button id='sale-nav-button' class="nav-button" onclick="show('sale')"> SALE </button>

    </span>

    <!--<a href="index.php?target=category&action=show&subcategory=men">MEN</a>-->

    <!--<a href="index.php?target=category&action=show&subcategory=women">WOMEN</a>-->

    <!--<a href="index.php?target=category&action=show&subcategory=boys">BOYS</a>-->

    <!--<a href="index.php?target=category&action=show&subcategory=girls">GIRLS</a>-->

    <!--<a  href="index.php?target=category&action=show&subcategory=new">NEW PRODUCTS</a>-->

    <!--<a  href="index.php?target=category&action=show&subcategory=sale">PRODUCTS ON SALE</a>-->

</nav>
<script>

</script>
