<section class="centered-section min-height-600">
    <h3>Order history</h3>

    <div id="display-history">

    </div>
    <hr>
    <div id="display-orders">

    </div>

</section>

<script>
    loadHistory();

    // loadOrders();


    function loadHistory() {
        var wrapper = document.getElementById("display-history");

        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=order&action=getOrders");
        request.onreadystatechange = function (ev) {
            if(this.readyState == 4) {
                if (this.status == 200) {
                    var ordersHistory = JSON.parse(this.responseText);



                    for (var i = 0; i < ordersHistory.length; i++) {
                        var ordersHistoryTable = document.createElement('table');
                        ordersHistoryTable.style = 'width : 100%';
                        var order = ordersHistory[i];
                        var orderRow = ordersHistoryTable.insertRow(0);
                        //=================================================
                        var orderDateCell = orderRow.insertCell(0);
                        orderDateCell.innerHTML = "Date: " + order.date;
                        //=================================================
                        var orderTotalPriceCell = orderRow.insertCell(1);
                        console.log(order);
                        orderTotalPriceCell.innerHTML = "Total price: " + order.total_price + " BGN ";
                        orderTotalPriceCell.style.color = "red";
                        //=================================================
                        var orderInfoButtonCell = orderRow.insertCell(2);
                        orderInfoButtonCell.style.width = "35%";
                        var orderInfoButtonCellButton = document.createElement("button");
                        orderInfoButtonCellButton.innerHTML = 'Order info';
                        orderInfoButtonCellButton.id = 'add-to-favorites-from-cart-button';
                       orderInfoButtonCell.value = (orderInfoButtonCellButton.valueOf().innerHTML);
                        orderInfoButtonCell.appendChild(orderInfoButtonCellButton);

                        var infoDiv = document.createElement('div');
                        infoDiv.id =  order.order_id;
                        orderInfoButtonCellButton.setAttribute('onclick' , 'loadOrderInfo('+ order.order_id +')');


                        wrapper.appendChild(ordersHistoryTable);
                        wrapper.appendChild(infoDiv);

                    }


                }

            }
            };
        request.send();

    }

    function loadOrderInfo(id) {
        var infoDiv = document.getElementById(id);
        infoDiv.innerHTML = "";

        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=order&action=getOrderData&order_id="+id);
        request.onreadystatechange = function (ev) {
            if(this.readyState == 4){
                if(this.status == 200){
                    var orderInfo = JSON.parse(this.responseText);
                    var orderInfoTable = document.createElement('table');
                    orderInfoTable.style = 'width : 100%';
                    orderInfoTable.style.border = '1px solid grey';
                    orderInfoTable.style.margin = '3px';
                    var orderId = id;
                    for (var i = 0; i < orderInfo.length; i++) {


                        var order = orderInfo[i];

                        var orderRow = orderInfoTable.insertRow(i);
                        orderInfoTable.appendChild(orderRow);
                        //=================================================
                        var orderInfoCell = orderRow.insertCell(0);
                        orderInfoCell.innerHTML = order.date;

                        var productHistoryPictureCell = orderRow.insertCell(1);
                        var productPicture = document.createElement('img');
                        productHistoryPictureCell.appendChild(productPicture);
                        productPicture.src = order.product_image_url;
                        productPicture.style = "width: 80px";
                        var productNameCell = orderRow.insertCell(2);
                        productNameCell.innerHTML = order.product_name;

                        var sizeNumberCell = orderRow.insertCell(3);
                        sizeNumberCell.innerHTML = order.quantity +'x<h5>'+ order.size_number + '</h5>size';

                        var giveRatingCell = orderRow.insertCell(4);
                       giveRatingCell.id="rating-cell-" + order.product_id + order.size_number + orderId;

                        var minRate = 1;
                        var maxRate = 10;

                        var ratingText = document.createElement('h6');
                        ratingText.id = 'rating-text-' + order.product_id + order.size_number + orderId;
                        giveRatingCell.appendChild(ratingText);

                        var selectRating = document.createElement("select");
                        selectRating.id= "selected-rating-" + order.product_id + order.size_number + orderId;
                        giveRatingCell.appendChild(selectRating);

                        for (var j = minRate; j <= maxRate; j++) {
                            var rate = j;
                            selectRating.options[selectRating.options.length] = new Option(rate, rate);
                        }

                        var giveARatingButton = document.createElement('button');
                        giveARatingButton.id = 'give-rating-'+ order.product_id + order.size_number + orderId;
                        giveRatingCell.appendChild(giveARatingButton);

                        loadProductRateFromUser(order.product_id, order.size_number, orderId);

                    }
                    var closeDiv = document.createElement("div");
                    var closeLink = document.createElement('h5');
                    closeDiv.appendChild(closeLink);
                    closeLink.innerHTML = "close";
                    closeLink.setAttribute('onclick' , 'closeOrderInfo('+ id +')');
                    closeLink.style = "text-align: right; color: red";
                    infoDiv.appendChild(orderInfoTable);
                    infoDiv.appendChild(closeDiv);

                }
            }
        };
        request.send();
    }


function closeOrderInfo(id) {
    var infoDiv = document.getElementById(id);
    infoDiv.innerHTML = "";

}



   function loadOrders() {
       var wrapper = document.getElementById("display-history");

       var request = new XMLHttpRequest();
       request.open("get", "handle_requests.php?target=order&action=getOrdersData");
       request.onreadystatechange = function (ev) {
           if(this.readyState == 4){
               if(this.status == 200){
                   var history = JSON.parse(this.responseText);
                   var heading = document.createElement('h1');
                   heading.innerHTML = 'Orders data';
                   wrapper.appendChild(heading);
                   wrapper.innerHTML = this.responseText;

               }
           }
       };
       request.send();
    }

    function loadProductRateFromUser(product_id, size_number, orderId){

        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=rating&action=getRatingFromUser&product_id=" + product_id);
        request.onreadystatechange = function (ev) {
            if(this.readyState == 4){
                if(this.status == 200){
                    var ratingOfProduct = JSON.parse(this.responseText);
                    console.log(ratingOfProduct);
                    var ratingCell = document.getElementById('rating-cell-' +product_id + size_number + orderId);
                    var ratingText = document.getElementById('rating-text-' + product_id + size_number + orderId);

                    var giveARatingButton = document.getElementById('give-rating-' + product_id + size_number + orderId);

                    if (ratingOfProduct.rating_value === 0){
                        ratingText.innerHTML = "Please rate!";
                        giveARatingButton.setAttribute('onclick' , 'giveRating('+ product_id + ',' + size_number + ',' + orderId + ')')
                        giveARatingButton.innerHTML = "Rate!"

                    }
                    else{
                        ratingText.innerHTML = "You rated with: " + ratingOfProduct.rating_value;
                        giveARatingButton.setAttribute('onclick' , 'changeRating('+ product_id + ',' + size_number + ',' + orderId + ')')
                        giveARatingButton.innerHTML = "Change rate!"
                    }


                }
            }
        };
        request.send();
    }

    function giveRating(product_id, size_number, orderId) {
        var request = new XMLHttpRequest();
        var selectedRating = document.getElementById("selected-rating-" + product_id + size_number + orderId);
        var rating_value = selectedRating.options[selectedRating.selectedIndex].value;

        request.open("get", "handle_requests.php?target=rating&action=giveRating&pId="+product_id+ "&rate="+rating_value);

        request.send();
        loadProductRateFromUser(product_id, size_number, orderId);
    }

    function changeRating(product_id, size_number, orderId) {
        var selectedRating = document.getElementById("selected-rating-" + product_id + size_number + orderId);
        var rating_value = selectedRating.options[selectedRating.selectedIndex].value;

        var request = new XMLHttpRequest();
        request.open("get", "handle_requests.php?target=rating&action=changeRating&pId="+product_id+ "&rate="+rating_value);

        request.send();
        loadProductRateFromUser(product_id, size_number, orderId);
    }



</script>