<section class="centered-section min-height-400 top-30">
    <div class="form" id="login-form" >

        <form onsubmit="return validateLoginFormOnSubmit(this)"  action="./handle_requests.php?target=user&action=login" method="post" >
            <div id="login-error" class="error"></div>

            <input type="email" name="email" placeholder="Email" required> <br>

            <input type="password" name="password" placeholder="Password" required> <br>

            <input  type="submit" value="login" name="login_button">

            <p class="message">Not registered? <a href="index.php?page=register">Create an account</a></p>
        </form>
    </div>
</section>
