<nav id="navbar">
    <div id="nav">
        <a href="javascript:void(0)" onclick="showMain()">Home</a>
        <a href="javascript:void(0)" onclick="showProductsPage('men')">Men</a>
        <a href="javascript:void(0)" onclick="showProductsPage('women')">Women</a>
        <a href="javascript:void(0)" onclick="showProductsPage('boys')">Boys</a>
        <a href="javascript:void(0)" onclick="showProductsPage('girls')">Girls</a>
        <a href="javascript:void(0)" onclick="showProductsPage('new')">New</a>
        <a href="javascript:void(0)" onclick="showProductsPage('sale')">SALE</a>
    </div>
</nav>

<main id="main" style="display:block">

    <a id="banner"  href="javascript:void(0)" onclick="showProductsPage('women')">
        <img class="banners" src="view/assets/banners/women_banner.jpg" alt="">
    </a>

    <a id="banner" href="javascript:void(0)" onclick="showProductsPage('men')">
        <img class="banners" src="view/assets/banners/man_banner.png" alt="">
    </a>


    <a id="banner"  href="javascript:void(0)" onclick="showProductsPage('new')">
        <img class="banners" src="view/assets/banners/new_banner.gif" alt="">
    </a>


    <a id="banner" href="javascript:void(0)" onclick="showProductsPage('sale')">
        <img class="banners" src="view/assets/banners/sale_banner2.gif" alt="">
    </a>


    <a id="banner"  href="javascript:void(0)" onclick="showProductsPage('girls')">
        <img class="banners" src="view/assets/banners/girls_banner.jpg" alt="">
    </a>


    <a id="banner"  href="javascript:void(0)" onclick="showProductsPage('boys')">
        <img class="banners" src="view/assets/banners/boys_banner.jpg" alt="">
    </a>


</main>

<div  id="products-page" style="display: none">
    <div class="products_page" >


        <div id="product-modal" class="modal">
            <div class="product_info">

                <span class="close">close</span>
                <div class="img">
                    <img id="img" src="">
                </div>

                <div id="show_product_info" class="info_block">
                    <div class="name">
                        <h3 id="product_name"></h3><br>
                    </div>
                    <div id="rating_text" class="info">
                    </div>
                    <div class="info">
                        <h5>Product style: <span id="product_style"></span></h5>
                    </div>
                    <div class="info">
                        <h5>Product color: <span id="product_color"></span></h5>
                    </div>
                    <div class="info">
                        <h5>Product material: <span id="material"></span></h5>
                        <br>
                    </div>
                    <div class="info">
                        <h5>Product info: <span id="info"></span></h5>
                        <br>
                    </div>
                    <div id="prices" class="prices">


                    </div>

                    <div id="sizes" class="info">

                    </div>

                    <div id="buttons">

                    </div>

                    <br>

                </div>
            </div>
        </div>


        <div>
            <h3 id="page-title"></h3>
        </div>
        <div id="visualisation" class="show_products">


        </div>




    </div>

    <div id="page-links" class="page-links">

    </div>

</div>

<script>
    function showProductsPage(category) {
        var main = document.getElementById("main");

        var showProducts = document.getElementById("products-page");


            main.style.display = "none";

            showProducts.style.display = "block";
            filterProducts(1, 20, category);

    }

    function showMain() {
        var showProducts = document.getElementById("products-page");

        var main = document.getElementById("main");
        if (main.style.display === "none") {
            showProducts.style.display = "none";
            main.style.display = "block";

        }
    }

    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
