
    <div id="products-page" class="products_page">
        <div id="product-modal" class="modal">
            <div class="product_info">

                <span class="close">close</span>
                <div class="img">
                    <img id="img" src="">
                </div>
                <div id="show_product_info" class="info_block">
                    <div class="name">
                        <h3 id="product_name"></h3><br>
                    </div>
                    <div class="info">
                        <h5>Product style: <span id="product_style"></span></h5>
                    </div>
                    <div class="info">
                        <h5>Product color: <span id="product_color"></span></h5>
                    </div>
                    <div class="info">
                        <h5>Product material: <span id="material"></span></h5>
                        <br>
                    </div>
                    <div class="info">
                        <h5>Product info: <span id="info"></span></h5>
                        <br>
                    </div>
                    <div id="prices" class="prices">


                    </div >

                    <div id="sizes" class="info">

                    </div>

                    <div id="buttons">

                    </div>

                    <br>

                </div>
            </div>
        </div>



        <div id="visualisation" class="show_products">




        </div>




    </div>
    <div id="page-links" class="page-links">

    </div>

    <script>
        filterProducts(1, 20, 'women');

    </script>

